<!DOCTYPE html>
<html>
	<head>
		<title>Page Title</title>
		<style>
.centerMe{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 2rem;
}
		</style>
	</head>
	<body>
		<div class="centerMe">
			<h1>Net Scraper</h1>
			<br />
			<form action="/result" method="post" id="form">
				<label for="link">Enter Your URL/link</label><br />
				<input type="text" id="link" name="link" />
			</form>
			<button type="submit" form="form" value="Submit">Submit</button>
		</div>
	</body>
</html>
